CIMA_RAG_DATASET_ID=HSilvosa/aemps-cima
CIMA_RAG_DATASET_REVISION=05da2ddf387a47a274384084068462ad8e2ff908
CIMA_RAG_INDEX_DIR=indexes/cima-full
CIMA_RAG_MODEL_LOCK=model-lock.json
CIMA_RAG_LLAMA_BASE_URL=http://127.0.0.1:8080/v1
CIMA_RAG_LLAMA_MODEL=Qwen3-8B-Q4_K_M.gguf
CIMA_RAG_DEVELOPMENT_MODE=false
CIMA_RAG_FIXTURE_MODE=false
CIMA_RAG_DEVICE=cuda
